Repository DeveloperAcademy-POSTECH/MC3-Team4-DakeAndDevileCorps, pull requests merged in 2022-08, with the labels that each got.

#76 [FEAT] StoreDetailView Header 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Network/Model/ReviewModel.swift
  DakeAndDevileCorps/Screens/Store/Cell/ReviewTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/StoreInformationTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Component/PaddingLabel.swift
  DakeAndDevileCorps/Screens/Store/Component/StoreDetailSelectView.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail, 🖼 UI

#72 [FEAT] Write Review 화면에 사진 등록 기능 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Screens/Store/Cell/AddReviewPhotoCollectionViewCell.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewAddPhotoView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🛠 feature, 🧙‍♂️닉, 🛍 StoreDetail, 🖼 UI

#81 [FEAT] ReviewPhotoView와 reviewImage를 연결했습니다.
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Screens/Store/Cell/ReviewTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewAddPhotoView.swift
  DakeAndDevileCorps/Screens/Store/VC/ReviewPhotoViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail

#83 [ADD] 카메라, 앨범 권한 확인, 설정 이동 구현 (#80)
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🛠 feature, 🧙‍♂️닉, 🛍 StoreDetail

#84 [FEAT] 영업 중 로직 구현 완료
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Base/BaseViewController.swift
  DakeAndDevileCorps/Global/Extension/Date+Extension.swift
  DakeAndDevileCorps/Global/Extension/String+Extension.swift
  DakeAndDevileCorps/Network/Model/Comment.swift
  DakeAndDevileCorps/Network/Model/Item.swift
  DakeAndDevileCorps/Network/Model/Store.swift
  DakeAndDevileCorps/Network/Model/StoreAnnotation.swift
  DakeAndDevileCorps/Network/Model/StoreModelTestN.swift
  DakeAndDevileCorps/Screens/MapHome/Component/AnnotationView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
  DakeAndDevileCorps/Screens/Store/Cell/StoreInformationTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail, 🍒 API

#88 [ADD] Fix space between images & delete button image
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/deleteButton.imageset/Contents.json
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/deleteButton.imageset/deleteButton.pdf
  DakeAndDevileCorps/Screens/Store/Cell/AddReviewPhotoCollectionViewCell.swift
Labels: 🧙‍♂️닉, 🛍 StoreDetail, 🖼 UI

#87 [FEAT] review가 없을 경우 review없음 Cell 보여주기
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Screens/Store/Cell/EmptyReviewTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail

#89 [FEAT] 메인맵에서 매장에 대한 정보를 나타내주는 모달 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/UIComponent/CustomModalView.swift
  DakeAndDevileCorps/Global/UIComponent/SearchBarView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🛍 StoreDetail, 🖼 UI

#90 [FEAT] 검색 필터 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Extension/CLLocationCoordinate2D+Extension.swift
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🧙‍♀️ 듀나, 🔍 Search, 🍒 API

#95 [Feat] StoreDetail ItemInformation에 mock 데이터 넣어주기
  DakeAndDevileCorps/Global/Base/BaseViewController.swift
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Network/Model/Item.swift
  DakeAndDevileCorps/Network/Model/ProductTableViewCellModel.swift
  DakeAndDevileCorps/Screens/Store/Cell/ItemTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/ProductTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/ReviewTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail

#93 [FIX] 사진 간격 조정
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Screens/Store/Component/ReviewAddPhotoView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
Labels: 🧙‍♂️닉, 🛍 StoreDetail, 🖼 UI

#102 [ADD] UserDefault 추가
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Network/UserDefault/UserDefaultHandler.swift
  DakeAndDevileCorps/Network/UserDefault/UserDefaultStorage.swift
Labels: 🧙‍♀️ 듀나

#94 [FEAT] 하단으로 스크롤 했을 시 안에 내용 있다면 Action Sheet 띄우기
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Global/Utils/UIViewController+Alert.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewTextView.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail

#105 [ADD] 앱 아이콘 추가
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: 🧙‍♀️ 듀나

#98 [FEAT] 리뷰 작성하기 구현 완료
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail

#100 [FIX] 카테고리 뷰 문제 해결
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
  DakeAndDevileCorps/Global/UIComponent/Cell/CategoryCollectionViewCell.swift
Labels: 🐛 bugfix, 🧙‍♀️ 듀나, 🖼 UI

#106 [FEAT] 현재 위치 버튼 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Network/UserDefault/UserDefaultHandler.swift
  DakeAndDevileCorps/Network/UserDefault/UserDefaultStorage.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#112 [ADD] 메인 맵에 mock 데이터 연결
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Network/Model/StoreAnnotation.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#109 [Feat] 세로모드 고정
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Supports/AppDelegate.swift
  DakeAndDevileCorps/Network/Model/ReviewModel.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크

#111 [FIX] 취급물품 음수뜨는 현상 수정
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🐛 bugfix, 🧙‍♂️ 데이크, 🛍 StoreDetail

#107 [ FEAT] 현재 위치에서 거리 구현 완료
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Network/UserDefault/UserDefaultHandler.swift
  DakeAndDevileCorps/Screens/Search/Cell/ResultTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail

#116 [Feat] 정기휴무시 todayOperationTime 안띄워주기
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Screens/Store/Cell/StoreInformationTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail

#120 [FEAT] Assets 추가 & numberOfImageLabel 배경 opacity 변경
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample1.imageset/Contents.json
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample1.imageset/sample1.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample1.imageset/sample1@2x.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample1.imageset/sample1@3x.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample2.imageset/Contents.json
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample2.imageset/sample2.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample2.imageset/sample2@2x.png
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/sample2.imageset/sample2@3x.png
  DakeAndDevileCorps/Network/Mock/Store.json
  DakeAndDevileCorps/Screens/Store/Cell/ReviewTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/ReviewPhotoViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크

#119 [ADD] 메인맵의 모달의 x버튼 관련 기획 요구사항 반영(#96)
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#121 [FEAT] SearchFlow & Modal, Picker
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Storyboard/MapHome.storyboard
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
  DakeAndDevileCorps/Screens/MapHome/VC/ResultMapViewController.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🧙‍♂️닉, 🖼 UI

#123 [FIX] 리뷰 쓰기 뷰 상단 움직이는 문제 해결
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🐛 bugfix, 🧙‍♀️ 듀나, 🛍 StoreDetail

#125 [CHORE] QA 일부 문제 반영 완료
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Network/Model/Store.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
  DakeAndDevileCorps/Screens/MapHome/VC/ResultMapViewController.swift
  DakeAndDevileCorps/Screens/Store/Cell/ProductTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/StoreInformationTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Component/StoreDetailSelectView.swift
Labels: 🐛 bugfix, 🧙‍♀️ 듀나

#127 [CHORE] StoreDetail에서 카테고리 변경 가능하도록 수정
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail, 🖼 UI

#129 [ADD] ResultMap의 각종 이슈 해결
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
  DakeAndDevileCorps/Screens/MapHome/VC/ResultMapViewController.swift
Labels: 🧙‍♂️닉, 🧙‍♀️ 스누피, 🗺 MainMap, 🔍 Search, 🖼 UI
