Repository DeveloperAcademy-POSTECH/MC3-Team4-DakeAndDevileCorps, pull requests merged in 2022-07, with the labels that each got.

#3 [Add] auto-assign 설정
  .github/auto_assign.yml
Labels: 🧙‍♀️ 듀나, ⚙️ Setting

#5 [FIX] Info.plist 문제 해결
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Literal/ImageLiteral.swift
  DakeAndDevileCorps/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  DakeAndDevileCorps/Global/Resource/Storyboard/MapHome.storyboard
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/Supports/AppDelegate.swift
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Global/Supports/SceneDelegate.swift
  DakeAndDevileCorps/Info.plist
Labels: 🐛 bugfix, 🧙‍♀️ 듀나

#6 [SETTING] swiftlint action 추가
  .github/workflows/swiftlint.yml
  .swiftlint.yml
Labels: 🧙‍♀️ 듀나, 📲 CI

#12 [SETTING] Swiftlint local로 설정
  .githooks/pre-commit
  .precommit.yml
Labels: 🧙‍♀️ 듀나, ⚙️ Setting, 📲 CI

#17 [ADD] Mainmap Map Layout 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/MapHome.storyboard
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#21 [Add] MainMap SearchBar 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/MapHome.storyboard
  DakeAndDevileCorps/Screens/MapHome/Component/SearchBarView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🔍 Search, 🖼 UI

#22 [FEAT] StoreDetail TableView 레이아웃 & Cells 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/Base.lproj/LaunchScreen.storyboard
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Screens/Store/VC/ItemTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/ProductTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreInformationTableViewCell.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail, 🖼 UI

#19 [FEAT] Search table view 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
  DakeAndDevileCorps/Screens/Search/VC/RecentSearchTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/VC/ResultTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
  DakeAndDevileCorps/Screens/Search/VC/StoreModelTestN.swift
Labels: 🧙‍♂️닉, 🔍 Search, 🖼 UI

#25 [ADD] Category CollectionView 구현 완료
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Extension/NSObject+Extension.swift
  DakeAndDevileCorps/Global/Extension/UIView+Extension.swift
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
  DakeAndDevileCorps/Global/UIComponent/Cell/CategoryCollectionViewCell.swift
  DakeAndDevileCorps/Global/Utils/UIView+Constraint.swift
  DakeAndDevileCorps/Screens/MapHome/Component/SearchBarView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🧙‍♀️ 듀나, 🗺 MainMap, 🛍 StoreDetail, 🖼 UI

#40 [Add] SearchBarView에서 text 변수 제공 및 마이페이지 버튼 삽입
  DakeAndDevileCorps/Screens/MapHome/Component/SearchBarView.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🔍 Search, 🖼 UI

#38 [FEAT] Connect recently searched item to result view
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🛠 feature, 🧙‍♂️닉, 🔍 Search

#37 [FEAT] 1주일간의 운영시간을 보여주는 toggle 기능 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Network/Model/ProductTableViewCellModel.swift
  DakeAndDevileCorps/Screens/MapHome/Component/SearchBarView.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
  DakeAndDevileCorps/Screens/Store/Cell/ItemTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/ProductTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/Cell/StoreInformationTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreInformationTableViewCell.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크, 🛍 StoreDetail

#42 [ADD] 리뷰 사진 보여주는 뷰 구현 완료
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/UIComponent/Cell/CategoryCollectionViewCell.swift
  DakeAndDevileCorps/Global/Utils/UIView+Constraint.swift
  DakeAndDevileCorps/Screens/Store/Cell/ReviewPhotoCollectionViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/ReviewPhotoViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail, 🖼 UI

#43 [FEAT] StoreDetailView의 scrollToRow 구현
  DakeAndDevileCorps/Network/Model/ProductTableViewCellModel.swift
  DakeAndDevileCorps/Screens/Store/Cell/ProductTableViewCell.swift
  DakeAndDevileCorps/Screens/Store/VC/StoreDetailViewController.swift
Labels: 🛠 feature, 🧙‍♂️ 데이크

#49 [ADD] 서치바 추가 수정 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Global/UIComponent/SearchBarView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#50 [FEAT] 서치바 컴포턴트 가져와서 서치뷰에 연결
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
  DakeAndDevileCorps/Global/UIComponent/SearchBarView.swift
  DakeAndDevileCorps/Network/Model/StoreModelTestN.swift
  DakeAndDevileCorps/Screens/Search/Cell/RecentSearchTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/Cell/ResultTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🛠 feature, 🧙‍♂️닉, 🔍 Search, 🖼 UI

#45 [ADD] UIColor+Extension 추가
  DakeAndDevileCorps/Global/Extension/UIColor+Extension.swift
Labels: 🧙‍♀️ 듀나, 🖼 UI

#53 [ADD] 리뷰 작성하기 화면 레이아웃 완료(사진 부분 제외)
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/Utils/UITextField+Padding.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewTextView.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail, 🖼 UI

#59 [FIX] Fix Search View Layout
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
Labels: 🧙‍♂️닉, 🖼 UI

#55 [CHORE] 카테고리 셀 디자인 수정 및 수정 사항 반영
  DakeAndDevileCorps/Global/Extension/UIColor+Extension.swift
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
  DakeAndDevileCorps/Global/UIComponent/Cell/CategoryCollectionViewCell.swift
Labels: 🧙‍♀️ 듀나, 🗺 MainMap, 🛍 StoreDetail, 🖼 UI

#67 [ FIX] Deselect 부분 문제 수정
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
Labels: 🐛 bugfix, 🧙‍♀️ 듀나

#61 [FEAT] CoreData 저장, 삭제 기능 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Supports/Info.plist
  DakeAndDevileCorps/Network/CoreData/KeywordManager.swift
  DakeAndDevileCorps/Network/CoreData/Keywords.xcdatamodeld/DakeAndDevileCorps.xcdatamodel/contents
  DakeAndDevileCorps/Screens/Search/Cell/RecentSearchTableViewCell.swift
  DakeAndDevileCorps/Screens/Search/VC/SearchViewController.swift
Labels: 🧙‍♀️ 듀나, 🔍 Search

#56 [ADD] MockParser 추가
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Network/Mock/MockParser.swift
Labels: 🧙‍♀️ 듀나, 🍒 API

#65 [FIX] Recent TableView Cell constarint error
  DakeAndDevileCorps.xcodeproj/project.xcworkspace/xcuserdata/seungyun.xcuserdatad/UserInterfaceState.xcuserstate
  DakeAndDevileCorps/Global/Resource/Storyboard/Search.storyboard
Labels: 🐛 bugfix, 🧙‍♂️닉

#69 [FEAT] 메인맵에 마커 구현 및 카테고리 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Network/Model/ShopInfo.swift
  DakeAndDevileCorps/Screens/MapHome/Component/AnnotationView.swift
  DakeAndDevileCorps/Screens/MapHome/VC/MainMapViewController.swift
Labels: 🧙‍♀️ 스누피, 🗺 MainMap, 🖼 UI

#66 [FEAT] TextView Custom 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Extension/UIViewController+Extension.swift
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Screens/Store/Component/ReviewTextView.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail, 🖼 UI

#78 [ADD] Mock Data 추가
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Network/Mock/Store.json
Labels: 🧙‍♀️ 듀나

#71 [FEAT] 완료 버튼 활성화 구현
  DakeAndDevileCorps.xcodeproj/project.pbxproj
  DakeAndDevileCorps/Global/Extension/NSNotification+Extension.swift
  DakeAndDevileCorps/Global/Extension/UIViewController+Extension.swift
  DakeAndDevileCorps/Global/Resource/Storyboard/StoreDetail.storyboard
  DakeAndDevileCorps/Global/UIComponent/CategoryView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewInputView.swift
  DakeAndDevileCorps/Screens/Store/Component/ReviewTextView.swift
  DakeAndDevileCorps/Screens/Store/VC/WriteReviewViewController.swift
Labels: 🧙‍♀️ 듀나, 🛍 StoreDetail
